<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.godink.springboot.mutids.demo.mapper.UserMapper">

  <resultMap id="BaseResultMap" type="com.godink.springboot.mutids.demo.model.UserDo">
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="age" property="age" />
    <result column="sex" property="sex" />
  </resultMap>
  
  <sql id="table_name">
    user
  </sql>
  
  <sql id="Base_Column_List">
    id, name, age, sex
  </sql>
  
  <select id="getAllUser" resultType="com.godink.springboot.mutids.demo.model.UserDo">
    select * from user
  </select>
  
  <sql id="where">
  	<where>
  		<if test="id != null">
  			and id = #{id}
  		</if>
  		<if test="name != null ">
  			and name = #{name}
  		</if>
  		<if test="age != null">
  			and age = #{age}
  		</if>
  	</where>
  </sql>
  
  <select id="getAllUser2" resultMap="BaseResultMap">
  	select 
  		<include refid="Base_Column_List" />
  	from <include refid="table_name" />
  	<include refid="where" />
  </select>
  
</mapper>
